[Unit]
Description=Install Kubernetes (RPM-OSTree)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/var
Before=zincati.service
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rpm-ostree install --allow-inactive --assumeyes kubeadm kubectl
ExecStartPost=/usr/bin/touch /var/lib/%N.stamp
ExecStartPost=/usr/bin/systemctl reboot --no-block

[Install]
WantedBy=multi-user.target